<div class="container-manage">
    <div class="manage">
        <a class="card produto a-manage btn" asp-controller="Shop" asp-action="AddProduto">
            <i class="bi bi-box-seam-fill icon-manage"></i>
            <div class="card-body">
                <h5 class="card-title produto-title">Produtos</h5>
            </div>
        </a>
        <a class="card produto a-manage btn" asp-controller="Shop" asp-action="ConsultaEstoque">
            <i class="bi bi-truck icon-manage"></i>
            <div class="card-body">
                <h5 class="card-title produto-title">Movimento Estoque</h5>
            </div>
        </a>
        <a class="card produto a-manage btn" asp-controller="Shop" asp-action="ControleEstoque">
            <i class="bi bi-graph-down-arrow icon-manage"></i>
            <div class="card-body">
                <h5 class="card-title produto-title">Controle de Estoque</h5>
            </div>
        </a>
        <a class="card produto a-manage btn" asp-controller="Shop" asp-action="Relatorios">
            <i class="bi bi-file-earmark-bar-graph-fill icon-manage"></i>
            <div class="card-body">
                <h5 class="card-title produto-title">Relatorios</h5>
            </div>
        </a>
    </div>
</div>