<div class="container-manage">
    <div class="manage">
        <a class="card produto a-manage" asp-controller="Shop" asp-action="AddProduto">
            <i class="bi bi-bag-plus-fill icon-manage"></i>
            <div class="card-body">
                <h5 class="card-title produto-title">Adicionar Produto</h5>
            </div>
        </a>
        <a class="card produto a-manage" asp-controller="Shop" asp-action="ConsultaProduto">
            <i class="bi bi-pencil-fill icon-manage"></i>
            <div class="card-body">
                <h5 class="card-title produto-title">Gerenciar Produto</h5>
            </div>
        </a>
        <a class="card produto a-manage" asp-controller="Shop" asp-action="ControleEstoque">
            <i class="bi bi-graph-down-arrow icon-manage"></i>
            <div class="card-body">
                <h5 class="card-title produto-title">Controle de Estoque</h5>
            </div>
        </a>
        <a class="card produto a-manage" asp-controller="Shop" asp-action="Relatorio">
            <i class="bi bi-file-earmark-bar-graph-fill icon-manage"></i>
            <div class="card-body">
                <h5 class="card-title produto-title">Relatorios</h5>
            </div>
        </a>
    </div>
</div>