@model (Pet_Shop.Models.Produto produto, Pet_Shop.Models.Estoque estoque)



<div class="container-manage">
    <div class="container-btn">
        <a class="btn btn-navega" asp-controller="Shop" asp-action="ConsultaEstoque"><i class="bi bi-search"></i>Consultar Produtos</a>
    </div>
    <div class="manage-produto">
        <h5 class="titulo-black">Movimento Estoque</h5><br>
        <form asp-controller="Shop" asp-action="MovimentoEstoquePost" method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <label for="inputCod3" class="col-sm-2 col-form-label">Codigo</label>
                <div class="col-sm-10">
                    <input type="number" asp-for="produto.Cod" name="produto.Cod" class="form-control" id="inputCod3" readonly>
                    <span asp-validation-for="produto.Cod" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputNome3" class="col-sm-2 col-form-label">Nome</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="produto.Nome" name="produto.Nome" class="form-control" id="inputNome3" readonly>
                    <span asp-validation-for="produto.Nome" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="inputNome3" class="col-sm-2 col-form-label">Descrição</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="produto.Descricao" name="produto.Descricao" class="form-control" id="inputNome3" readonly>
                    <span asp-validation-for="produto.Descricao" class="text-danger"></span>
                </div>
            </div>

             <div class="row mb-3">
                <label for="inputqtaa3" class="col-sm-2 col-form-label">Quantidade Atual</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="produto.Quantidade" name="produto.Quantidade" class="form-control" id="inputqtaa3" readonly>
                </div>
            </div>

             <div class="row mb-3">
                <label for="inputtpmov3" class="col-sm-2 col-form-label">Tipo Movimento</label>
                <div class="col-sm-10">
                    <select class="form-control input-busca col-sm-10" aria-label="Default select example" name="estoque.Tipo_Movimento">
                        <option selected value="">Escolha o Movimento</option>
                        <option value="Entrada">Entrada</option>
                        <option value="Saida">Saida</option>
                        
                    </select>
                    <span asp-validation-for="estoque.Tipo_Movimento" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="inputqtn3" class="col-sm-2 col-form-label">Quantidade</label>
                <div class="col-sm-10">
                    <input type="number" name="estoque.Quantidade" class="form-control" id="inputqtn3" >
                    <span asp-validation-for="estoque.Quantidade" class="text-danger"></span>
                </div>
            </div>
            
            <div class="btn-login">
                <button type="submit" class="btn btn-primary"><i class="bi bi-pencil-fill"></i>Atualizar</button>
                <a class="btn btn-secondary" asp-controller="Shop" asp-action="ConsultaEstoque"><i class="bi bi-caret-left-fill"></i>Voltar</a>
            </div>

        </form>
    </div>
</div>
