@{
    ViewData["Title"] = "";
}



<div id="carouselExampleIndicators" class="carousel slide carrosel" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 img-slide" src="~/img/ambiente.jpg" alt="Segundo Slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Investindo para seu Pet ter as Melhores Acomodações</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 img-slide" src="~/img/abraco_pet.jpg" alt="Primeiro Slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Cuidamos do seu Pet como se fosse nosso</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 img-slide" src="~/img/cafe.jpg" alt="Terceiro Slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Cuidamos do seu Pet e de você enquanto espera</h5>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>



<div class="card-group">
    <div class="card">
        <img src="~/img/banho.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Banho</h5>
            <p class="card-text">Temos o Melhor banho para seu Pet possa voltar para seus braços limpo,cheiroso e bonito</p>
        </div>
    </div>
    <div class="card">
        <img src="~/img/tosa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Tosa</h5>
            <p class="card-text">Para quando os pelos estiverem incomodando temos o serviço de Tosa para deixar seu pet bonito e confortavel</p>
        </div>
    </div>
    <div class="card">
        <img src="~/img/adestrador.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Adestrador</h5>
            <p class="card-text">Temos os melhores adestradores para educar, diciplinar e ensinar seu pet a se divertir melhor</p>
        </div>
    </div>
</div>

<div class="card-group">
    <div class="card">
        <img src="~/img/consulta.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Consultas com Veterinário</h5>
            <p class="card-text">Para garantir que a saúde do seu pet esteja sempre em dia nossos veterinarios estão de plantão 24 horas</p>
        </div>
    </div>
    <div class="card">
        <img src="~/img/Cirurgia.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cirurgia</h5>
            <p class="card-text">Temos nosso centro cirurgico preparado para qualquer operação que seu pet precise</p>
        </div>
    </div>
    <div class="card">
        <img src="~/img/hotel.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Hotel Pet</h5>
            <p class="card-text">Para viagens que seu pet não possa te acompamhar temos nosso hotel para hospedar ele com muito conforto</p>
        </div>
    </div>
</div>
