<div class="container container-agendamento">
    <div class="agendamento agendamento-sucesso">
        <form asp-controller="Orcamento" asp-action="Orcamento" method="get">
            <h6 class="agendamento-text">Orçamento Enviado!</h6>
            <div class="btn-agendamento">
                <button type="submit" class="btn btn-primary">Novo Orçamento</button>
            </div>
        </form>
    </div>
</div>
