<div class="container container-agendamento">
    <div class="agendamento agendamento-sucesso">
        <form asp-controller="Agendamento" asp-action="Agendamento" method="get">
            <h6 class="agendamento-text">Agendamento Concluido!</h6>
            <div class="btn-agendamento">
                <button type="submit" class="btn btn-primary">Novo Agendamento</button>
            </div>
        </form>
    </div>
</div>
