
/*******************************************Layout**************************************************************************
---------------------------------------------------------------------------------------------------------------------------- */

/*--------Menu*/
.menu {
    background-color: #009C8E;
    /*#009C8E*/
    /*#15b135*/
}

.logo {
    width:80px;
    height: 80px;
}

.nav-link {
    font-size: 19px;
    color: white;
    margin-left: 35px;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    transition: font-size 0.3s;
}

.nav-link:hover{
    font-size: 21px;
    color:white;
}

.navega {
    margin-left: 60px;
}

h1 {
    color: white;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
}

.icon-acesso {
    font-size: 30px;
    color: white;
    background-color: #009C8E;
}

.status-login {
    margin-left: 40px;
    background-color: #009C8E;
    border: none
}

/*--------Footer*/
.footer {
    background-color: dimgray;
    margin-top: 40px;
    height: 100px;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.footer-item {
    font-size: 20px;
    color: white;
    transition: font-size 0.5s;
    margin-left: 25px;
    margin-right: 25px;
}

.footer-item:hover {
    font-size: 21px;
    color: white;
}

/*--------MessageBox*/
.messagebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: auto;
    margin-bottom: 20%;
    background-color: #56cbc4;
    border-radius: 7px;
    padding: 35px;
    margin-top: 5%;
    margin-bottom: 15%;
    box-shadow: 5px 5px 5px black;
}

.message{
    margin-top: 20px;
    margin-bottom: -5px;
}



/*******************************************HOME**************************************************************************
---------------------------------------------------------------------------------------------------------------------------- */

/*--------Carossel*/

h5 {
    font-size: 30px;
    color: white;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
}


.carrosel {
    border-radius: 10px;
    margin-top: 20px;
    padding: 60px;
    background-color: #009C8E;
}

.img-slide {
    border-radius: 15px;
}

/*--------Cards*/
.card-group {
    margin-top: 30px;
}

.card {
    background-color: #009C8E;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    border-radius: 10px;
}

.card-img-top{
    border-radius:10px;
}

.card-title {
    color: white;
    font-family: 'Prompt', sans-serif;
}

.card-text {
    color: white;
    font-family: 'Prompt', sans-serif;
}



/*******************************************LOGIN ------ REGISTER**************************************************************************
---------------------------------------------------------------------------------------------------------------------------- */

/*--------Login*/

.container-login{
    display:flex;
    justify-content:center;
    align-items:center;
}

.login {
    background-color: #56cbc4;
    border-radius: 7px;
    padding: 35px;
    margin-top: 7%;
    margin-bottom: 20%;
    box-shadow: 5px 5px 5px black;
}

.btn-login{
    display:flex;
    justify-content:space-between;
    margin-top: 50px;
}

/*--------Register*/

.register {
    width: 60%;
    background-color: #56cbc4;
    border-radius: 7px;
    padding: 35px;
    padding-top: 5px;
    margin-top: 5%;
    margin-bottom: 7%;
    box-shadow: 5px 5px 5px black;
}

.register-text {
    margin-top:35px;
    color: black;
    font-weight: bold;
}


/*******************************************Agendamento**************************************************************************
---------------------------------------------------------------------------------------------------------------------------- */

.container-agendamento {
    display: flex;
    justify-content: center;
    align-items: center;
}

.agendamento {
    width: 60%;
    background-color: #56cbc4;
    border-radius: 7px;
    padding: 35px;
    padding-top: 5px;
    margin-top: 5%;
    margin-bottom: 7%;
    box-shadow: 5px 5px 5px black;
}

.btn-agendamento {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
}

.agendamento-text {
    margin-bottom: 30px;
    margin-top: 20px;
}

#CampoValor {
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
}

.box-valor{
    padding-top: 9px;
}

.agendamento-sucesso {
    width: auto;
    margin-bottom: 20%;
}

.titulo-black-center {
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-size: 25px;
}


/*******************************************Agenda***********************************************************************
---------------------------------------------------------------------------------------------------------------------------- */


.Tabelacss {
    background-color: #56cbc4;
    box-shadow: 5px 5px 5px black;
    margin-bottom: 60px;
}

.BuscaGrid {
    display: flex;
    background-color: #56cbc4;
    padding: 20px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: auto;
    box-shadow: 5px 5px 5px black;
}

.input-busca{
    width: 300px;
    margin-right: 50px;
    margin-left: 5px;
}

.titulo-black {
    color: black;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.bnt-excluir{
    color:#ef4040;
}

.container-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.delete {
    width: 50%;
    background-color: #56cbc4;
    border-radius: 7px;
    padding: 35px;
    margin-top: 2%;
    box-shadow: 5px 5px 5px black;
}

.dados-delete{
    display: flex;
    flex-direction:column;
}

.dado-delete {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    margin-top:5px;
}


/*******************************************ORÇAMENTO***********************************************************************
---------------------------------------------------------------------------------------------------------------------------- */

.container-orcamento{
    display:flex
}

.container-cards{
    width: 60%;
    margin-right:10px;
}

.carrinho-orça {
    display: flex;
    justify-content:space-between;
    flex-direction:column;
    align-items:center;
    width: 35%;
    background-color: #009C8E;
    border-radius: 7px;
    padding: 35px;
    margin-top: 5%;
    box-shadow: 5px 5px 5px black;
}

.cardgroup-orcamento {
    width: auto;
    height: auto;
}

.cardorcamento-title{
    font-size: 22px;
}

.escolhecard-text {
    margin-top: 3%;
    color: black;
    font-weight: bold;
    margin-bottom: -10px;
    margin-left: 20px;
    font-size: 20px;
}

.card-orcamento:hover {
    background-color: #139959;
    border: 1px solid black;
}

.card-selecionado {
    background-color: #139959;
    border: 1px solid black;
}

.servicos-orcamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.down-orcamento {
    display: flex;
    flex-direction:column;
    justify-content:center;
    
}

#total-orcamento {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}

#servico-select {
    margin-top: 25px;
    font-weight: bold;
}


/*******************************************SHOP***********************************************************************
---------------------------------------------------------------------------------------------------------------------------- */


.shop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}

.produto {
    width: 30%;
    height: auto;
    margin-bottom: 40px;
}

.container-img-shop {
    display: flex;
    justify-content:center;
    padding:0px;
}

.img-shop {
    width: 70%;
    height: auto;
    margin:0px;
}

.produto-title {
    font-weight: 600;
    color: white;
    font-family: 'Jost', sans-serif;
    margin-bottom: 0px;
}

.produto-text {
    color: white;
    font-family: 'Jost', sans-serif;
}

.produto-valor {
    font-size: 25px;
    color: white;
    font-family: 'Jost', sans-serif;
}

.filtro {
    display:flex;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    background-color: #56cbc4;
    padding: 20px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: auto;
}

.filtro-item{
    display:flex;
    flex-direction: row;
    align-items: center;
    
}

#mostra-produto {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1001;
    border-radius:5px;
}

.organiza-mostra{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.select-quantidade{
    display:flex;
    flex-direction:row;
    width:120%;
}

.btn-maismenos {
    margin-right: 5px;
    margin-left: 5px;
    border-radius:8px;
}

#display-quantidade{
    margin:0;
    background-color:white;
    padding: 15px;
    border-radius: 10px;
    margin-right:10px;
}

.mostra-img{
    width:30%;
    height:30%;
}

#carrinho {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1001;
    
    flex-direction:column;
    align-items:center;
    width:33%;
    background-color: #56cbc4;
    border-radius: 7px;
    padding: 10px;
    padding-top: 20px;
    box-shadow: 5px 5px 5px black;
}

.clone-item {
    display: none;
    flex-direction: row;
    padding: 10px;
}

.item-carrinho{
    display:none;
}

.img-carrinho {
    width: 13%;
    height: auto;
}

.row-text-item{
    display:flex;
    justify-content:space-between;
}

#open-carrinho {
    border-radius: 25px;
    margin-left: 10px;
}

.btn-remove-carrinho{
    height:min-content;
}

.top-carrinho{
    display:flex;
    justify-content:space-between;
    width:100%;
    margin-bottom:20px;
}

.carinho-info{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top: 15px;
}

#valor-carrinho{
    font-size: 25px;
    margin-bottom:10px;
    font-weight:bold;
}

.bnt-fechar {
    width: min-content;
    border-radius: 5px;
    padding: 0px;
    padding-left: 8px;
    padding-right: 8px;
}

.valor-pedido {
    background-color: #56cbc4;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    border: none;
}

.img-qrcod {
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 65%;
    height: auto;
}

/*--------Cartão MP*/
#form-checkout {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.container-cartao {
    height: 25px;
    display: inline-block;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2px;
    padding: 1px 2px;
    background-color:white;
}

#cartao-view {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001; /* maior que o overlay  */
}


/*******************************************Manage***********************************************************************
---------------------------------------------------------------------------------------------------------------------------- */
.container-manage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 4%;
    margin-bottom: 7%;
}

.manage {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 80%;
}

.icon-manage{
    color:black;
    font-size:300%;
}

.a-manage {
    display: flex;
    align-items: center;
    width: 40%;
}

/*--------Add Produto*/

.manage-produto {
    background-color: #56cbc4;
    border-radius: 7px;
    padding: 35px;
    padding-top: 5px;
    box-shadow: 5px 5px 5px black;
    padding:30px;
}

.container-btn{
    display:flex;
    align-items:start;
    width:45%;
    margin-bottom: 7px;
}

.btn-navega {
    background-color: #56cbc4;
    border-radius: 7px;
    box-shadow: 3px 3px 3px black;
    margin-right: 10px;
}

/*--------Consulta Produto*/
.consulta-produto{
    margin-bottom: 15%;
}

.filtro-consulta {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    display: flex;
    background-color: #56cbc4;
    padding: 20px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: auto;
    box-shadow: 5px 5px 5px black;
}

.container-titulo-btn{
    display:flex;
    justify-content:space-between;
}

th,
td { /*arruma a grid*/
    padding: 0px;
}


.celula {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.celula :hover {
    background-color: #139959;
}

/*--------Gerencia Produto*/

.form-gerencia {
    display: flex;
}

.box-gerencia-um {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: auto;
}

.box-gerencia-dois{
    width:120%;
}

.img-gerencia {
    width: 70%;
    height: auto;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* fundo*/
    z-index: 1000; /* acima contet para cobrir*/
}


#msgbox-deleta-prod {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1001; /* maior que o overlay  */
}

#form-deleta-prod{
    display:flex;
    align-items:center;
    flex-direction:column;
}

/*--------Relatorios*/

#Rel-produto{
    display: none;
}

#Rel-estoque {
    display: none;
    flex-direction:column;
}