
<div class="container container-agendamento">
    <div class="messagebox"> 
        <h1 class="titulo-black">@TempData["Titulo"]</h1>
        <div class="message">
            <h4>@TempData["Mensagem"]</h4>
        </div>
        <div class="btn-agendamento ">
            <button class="btn btn-primary" onclick="history.back()">  OK  </button>
        </div>
    </div>
</div>